.btnCadastro  {
    text-decoration: none;
    color: #fff;
    background-color: #CF2CD9;
    padding: 1rem;
    border-radius: 50px;
}

.btnLogin {
    text-decoration: none;
    color: #4C4C4C;
    padding: 1rem 3rem;
    border: 1px solid #4C4C4C;
    border-radius: 50px;
}